<div class="about">

      <h2 class="dark"> About Me </h2>
      <br>
      <p> &nbsp;&nbsp;I am a highly motivated team player with 10+ years in projects, from
            software development to fullstack software engineer. I have experience in
            Object-Orientated Languages such as Java and C# and Relational Databases as MySQL and MS SQL. I
            have experience working with MVC Pattern as ASP.NET and Laravel.</p>
      <p> &nbsp;&nbsp;My most recent work experience is as WordPress Developer developing
            customize themes and post types using PHP and Vanilla JavaScript. I am currently working
            on my ability in responsive websites and Javascript (Vanilla, JQuery and ReactJS).
      </p>
      <p> &nbsp;&nbsp;I am a very focusing and quick adapter professional that frequently
            has been praised as hard-working. My passion is to create solutions using my knowledge,
            skills, and especially my creativity. </p>

      <br>

      <h2 class="red"> Let's be social </h2>

      <ul>
            <li>
                  <a href="https://www.linkedin.com/in/2karla/">
                        <i class="fab fa-linkedin fa-2x"></i></a>
            </li>
            <li>
                  <a href="https://github.com/Karla-Rodrigues">
                        <i class="fab fa-github-square fa-2x"></i></a>
            </li>
            <li>
                  <a href="mailto:karlaadautor@gmail.com">
                        <i class="fas fa-envelope fa-2x"></i></a>
            </li>
      </ul>

</div>